aiohttp==3.9.5 ; python_version >= "3.9" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
annotated-types==0.6.0 ; python_version >= "3.9" and python_version < "3.12"
anyio==4.3.0 ; python_version >= "3.9" and python_version < "3.12"
appdirs==1.4.4 ; python_version >= "3.9" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.9" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.9" and python_version < "3.12"
azure-core==1.30.1 ; python_version >= "3.9" and python_version < "3.12"
azure-identity==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.9" and python_version < "3.12"
blis==0.7.11 ; python_version >= "3.9" and python_version < "3.12"
cachetools==5.3.3 ; python_version >= "3.9" and python_version < "3.12"
catalogue==2.0.10 ; python_version >= "3.9" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.9" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.12"
cloudpathlib==0.16.0 ; python_version >= "3.9" and python_version < "3.12"
cloudpickle==3.0.0 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
confection==0.1.4 ; python_version >= "3.9" and python_version < "3.12"
cryptography==42.0.5 ; python_version >= "3.9" and python_version < "3.12"
curl-cffi==0.6.3 ; python_version >= "3.9" and python_version < "3.12"
cymem==2.0.8 ; python_version >= "3.9" and python_version < "3.12"
dataclasses-json==0.6.4 ; python_version >= "3.9" and python_version < "3.12"
defusedxml==0.7.1 ; python_version >= "3.9" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.9" and python_version < "3.12"
distro==1.9.0 ; python_version >= "3.9" and python_version < "3.12"
duckduckgo-search==5.3.0 ; python_version >= "3.9" and python_version < "3.12"
exa-py==1.0.9 ; python_version >= "3.9" and python_version < "3.12"
exceptiongroup==1.2.1 ; python_version >= "3.9" and python_version < "3.11"
faiss-cpu==1.8.0 ; python_version >= "3.9" and python_version < "3.12"
fastapi==0.110.2 ; python_version >= "3.9" and python_version < "3.12"
filelock==3.13.4 ; python_version >= "3.9" and python_version < "3.12"
frozendict==2.4.2 ; python_version >= "3.9" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.9" and python_version < "3.12"
fsspec==2024.3.1 ; python_version >= "3.9" and python_version < "3.12"
google-api-core==2.18.0 ; python_version >= "3.9" and python_version < "3.12"
google-api-python-client==2.126.0 ; python_version >= "3.9" and python_version < "3.12"
google-auth-httplib2==0.2.0 ; python_version >= "3.9" and python_version < "3.12"
google-auth-oauthlib==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
google-auth==2.29.0 ; python_version >= "3.9" and python_version < "3.12"
google-search-results==2.4.2 ; python_version >= "3.9" and python_version < "3.12"
googleapis-common-protos==1.63.0 ; python_version >= "3.9" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.9" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.14.0 ; python_version >= "3.9" and python_version < "3.12"
html5lib==1.1 ; python_version >= "3.9" and python_version < "3.12"
httpcore==1.0.5 ; python_version >= "3.9" and python_version < "3.12"
httplib2==0.22.0 ; python_version >= "3.9" and python_version < "3.12"
httpx==0.27.0 ; python_version >= "3.9" and python_version < "3.12"
huggingface-hub==0.22.2 ; python_version >= "3.9" and python_version < "3.12"
idna==3.7 ; python_version >= "3.9" and python_version < "3.12"
jinja2==3.1.3 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.4.0 ; python_version >= "3.9" and python_version < "3.12"
jsonpatch==1.33 ; python_version >= "3.9" and python_version < "3.12"
jsonpointer==2.4 ; python_version >= "3.9" and python_version < "3.12"
langchain-community==0.0.21 ; python_version >= "3.9" and python_version < "3.12"
langchain-core==0.1.45 ; python_version >= "3.9" and python_version < "3.12"
langchain-exa==0.0.1 ; python_version >= "3.9" and python_version < "3.12"
langchain-experimental==0.0.53 ; python_version >= "3.9" and python_version < "3.12"
langchain-openai==0.0.6 ; python_version >= "3.9" and python_version < "3.12"
langchain-text-splitters==0.0.1 ; python_version >= "3.9" and python_version < "3.12"
langchain==0.1.8 ; python_version >= "3.9" and python_version < "3.12"
langchainhub==0.1.15 ; python_version >= "3.9" and python_version < "3.12"
langcodes==3.3.0 ; python_version >= "3.9" and python_version < "3.12"
langsmith==0.1.49 ; python_version >= "3.9" and python_version < "3.12"
lxml==5.2.1 ; python_version >= "3.9" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "3.12"
marshmallow==3.21.1 ; python_version >= "3.9" and python_version < "3.12"
msal-extensions==1.1.0 ; python_version >= "3.9" and python_version < "3.12"
msal==1.28.0 ; python_version >= "3.9" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.9" and python_version < "3.12"
multitasking==0.0.11 ; python_version >= "3.9" and python_version < "3.12"
murmurhash==1.0.10 ; python_version >= "3.9" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
nltk==3.8.1 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.9" and python_version < "3.12"
ollama==0.1.8 ; python_version >= "3.9" and python_version < "3.12"
openai==1.23.2 ; python_version >= "3.9" and python_version < "3.12"
orjson==3.10.1 ; python_version >= "3.9" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.9" and python_version < "3.12"
pandas==2.2.2 ; python_version >= "3.9" and python_version < "3.12"
peewee==3.17.3 ; python_version >= "3.9" and python_version < "3.12"
portalocker==2.8.2 ; python_version >= "3.9" and python_version < "3.12"
preshed==3.0.9 ; python_version >= "3.9" and python_version < "3.12"
proto-plus==1.23.0 ; python_version >= "3.9" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.9" and python_version < "3.12"
psutil==5.9.8 ; python_version >= "3.9" and python_version < "3.12"
pyarrow==16.0.0 ; python_version >= "3.9" and python_version < "3.12"
pyasn1-modules==0.4.0 ; python_version >= "3.9" and python_version < "3.12"
pyasn1==0.6.0 ; python_version >= "3.9" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.9" and python_version < "3.12"
pydantic-core==2.18.1 ; python_version >= "3.9" and python_version < "3.12"
pydantic==2.7.0 ; python_version >= "3.9" and python_version < "3.12"
pygithub==2.3.0 ; python_version >= "3.9" and python_version < "3.12"
pyjwt[crypto]==2.8.0 ; python_version >= "3.9" and python_version < "3.12"
pynacl==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.9" and python_version < "3.12"
pypdf==4.2.0 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_version < "3.12"
python-multipart==0.0.9 ; python_version >= "3.9" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.9" and python_version < "3.12"
pywin32==306 ; python_version >= "3.9" and python_version < "3.12" and platform_system == "Windows"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "3.12"
regex==2024.4.16 ; python_version >= "3.9" and python_version < "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.9" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.9" and python_version < "3.12"
safetensors==0.4.3 ; python_version >= "3.9" and python_version < "3.12"
scikit-learn==1.1.2 ; sys_platform == "win32" and python_version < "3.10" and python_version >= "3.9"
scikit-learn==1.4.2 ; sys_platform != "win32" and python_version >= "3.9" and python_version < "3.12" or python_version >= "3.10" and python_version < "3.12"
scipy==1.13.0 ; (sys_platform != "win32" or python_version >= "3.10") and python_version < "3.12" and python_version >= "3.9"
scipy==1.6.1 ; sys_platform == "win32" and python_version < "3.10" and python_version >= "3.9"
setuptools==69.5.1 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
smart-open==6.4.0 ; python_version >= "3.9" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.9" and python_version < "3.12"
spacy-legacy==3.0.12 ; python_version >= "3.9" and python_version < "3.12"
spacy-loggers==1.0.5 ; python_version >= "3.9" and python_version < "3.12"
spacy==3.7.4 ; python_version >= "3.9" and python_version < "3.12"
spacytextblob==4.0.0 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy==2.0.29 ; python_version >= "3.9" and python_version < "3.12"
srsly==2.4.8 ; python_version >= "3.9" and python_version < "3.12"
starlette==0.37.2 ; python_version >= "3.9" and python_version < "3.12"
tblib==3.0.0 ; python_version >= "3.9" and python_version < "3.12"
tenacity==8.2.3 ; python_version >= "3.9" and python_version < "3.12"
textblob==0.15.3 ; python_version >= "3.9" and python_version < "3.12"
thinc==8.2.3 ; python_version >= "3.9" and python_version < "3.12"
threadpoolctl==3.4.0 ; python_version >= "3.9" and python_version < "3.12"
tiktoken==0.6.0 ; python_version >= "3.9" and python_version < "3.12"
tokenizers==0.19.1 ; python_version >= "3.9" and python_version < "3.12"
tornado==6.4 ; python_version >= "3.9" and python_version < "3.12"
tqdm==4.66.2 ; python_version >= "3.9" and python_version < "3.12"
transformers==4.40.0 ; python_version >= "3.9" and python_version < "3.12"
typer==0.9.4 ; python_version >= "3.9" and python_version < "3.12"
types-requests==2.31.0.20240406 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.11.0 ; python_version >= "3.9" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.9" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "3.12"
uritemplate==4.1.1 ; python_version >= "3.9" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.9" and python_version < "3.12"
uvicorn==0.29.0 ; python_version >= "3.9" and python_version < "3.12"
uvloop==0.19.0 ; python_version >= "3.9" and python_version < "3.12" and sys_platform != "win32"
wasabi==1.1.2 ; python_version >= "3.9" and python_version < "3.12"
weasel==0.3.4 ; python_version >= "3.9" and python_version < "3.12"
webencodings==0.5.1 ; python_version >= "3.9" and python_version < "3.12"
wikipedia==1.4.0 ; python_version >= "3.9" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
xorbits==0.7.2 ; python_version >= "3.9" and python_version < "3.12"
xoscar==0.3.0 ; python_version >= "3.9" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.9" and python_version < "3.12"
yfinance==0.2.38 ; python_version >= "3.9" and python_version < "3.12"
